absl-py
astunparse
cachetools
certifi
cffi
charset-normalizer
click
cryptography
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib-metadata
itsdangerous
Jinja2
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
numpy
oauthlib
opencv-python
opt-einsum
protobuf
pyasn1
pyasn1-modules
pycparser
pyOpenSSL
requests
requests-oauthlib
six
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-io-gcs-filesystem
termcolor
tf-estimator-nightly
typing_extensions
urllib3
Werkzeug
wrapt
zipp
pytest-cov
tensorrt
